[data - aos][data - aos][data - aos - duration = "50"], body[data - aos - duration = "50"][data - aos] {
  transition - duration: 50 ms
}[data - aos][data - aos][data - aos - delay = "50"], body[data - aos - delay = "50"][data - aos] {
  transition - delay: 0
}[data - aos][data - aos][data - aos - delay = "50"].aos - animate, body[data - aos - delay = "50"][data - aos].aos - animate {
  transition - delay: 50 ms
}[data - aos][data - aos][data - aos - duration = "100"], body[data - aos - duration = "100"][data - aos] {
  transition - duration: .1 s
}[data - aos][data - aos][data - aos - delay = "100"], body[data - aos - delay = "100"][data - aos] {
  transition - delay: 0
}[data - aos][data - aos][data - aos - delay = "100"].aos - animate, body[data - aos - delay = "100"][data - aos].aos - animate {
  transition - delay: .1 s
}[data - aos][data - aos][data - aos - duration = "150"], body[data - aos - duration = "150"][data - aos] {
  transition - duration: .15 s
}[data - aos][data - aos][data - aos - delay = "150"], body[data - aos - delay = "150"][data - aos] {
  transition - delay: 0
}[data - aos][data - aos][data - aos - delay = "150"].aos - animate, body[data - aos - delay = "150"][data - aos].aos - animate {
  transition - delay: .15 s
}[data - aos][data - aos][data - aos - duration = "200"], body[data - aos - duration = "200"][data - aos] {
  transition - duration: .2 s
}[data - aos][data - aos][data - aos - delay = "200"], body[data - aos - delay = "200"][data - aos] {
  transition - delay: 0
}[data - aos][data - aos][data - aos - delay = "200"].aos - animate, body[data - aos - delay = "200"][data - aos].aos - animate {
  transition - delay: .2 s
}[data - aos][data - aos][data - aos - duration = "250"], body[data - aos - duration = "250"][data - aos] {
  transition - duration: .25 s
}[data - aos][data - aos][data - aos - delay = "250"], body[data - aos - delay = "250"][data - aos] {
  transition - delay: 0
}[data - aos][data - aos][data - aos - delay = "250"].aos - animate, body[data - aos - delay = "250"][data - aos].aos - animate {
  transition - delay: .25 s
}[data - aos][data - aos][data - aos - duration = "300"], body[data - aos - duration = "300"][data - aos] {
  transition - duration: .3 s
}[data - aos][data - aos][data - aos - delay = "300"], body[data - aos - delay = "300"][data - aos] {
  transition - delay: 0
}[data - aos][data - aos][data - aos - delay = "300"].aos - animate, body[data - aos - delay = "300"][data - aos].aos - animate {
  transition - delay: .3 s
}[data - aos][data - aos][data - aos - duration = "350"], body[data - aos - duration = "350"][data - aos] {
  transition - duration: .35 s
}[data - aos][data - aos][data - aos - delay = "350"], body[data - aos - delay = "350"][data - aos] {
  transition - delay: 0
}[data - aos][data - aos][data - aos - delay = "350"].aos - animate, body[data - aos - delay = "350"][data - aos].aos - animate {
  transition - delay: .35 s
}[data - aos][data - aos][data - aos - duration = "400"], body[data - aos - duration = "400"][data - aos] {
  transition - duration: .4 s
}[data - aos][data - aos][data - aos - delay = "400"], body[data - aos - delay = "400"][data - aos] {
  transition - delay: 0
}[data - aos][data - aos][data - aos - delay = "400"].aos - animate, body[data - aos - delay = "400"][data - aos].aos - animate {
  transition - delay: .4 s
}[data - aos][data - aos][data - aos - duration = "450"], body[data - aos - duration = "450"][data - aos] {
  transition - duration: .45 s
}[data - aos][data - aos][data - aos - delay = "450"], body[data - aos - delay = "450"][data - aos] {
  transition - delay: 0
}[data - aos][data - aos][data - aos - delay = "450"].aos - animate, body[data - aos - delay = "450"][data - aos].aos - animate {
  transition - delay: .45 s
}[data - aos][data - aos][data - aos - duration = "500"], body[data - aos - duration = "500"][data - aos] {
  transition - duration: .5 s
}[data - aos][data - aos][data - aos - delay = "500"], body[data - aos - delay = "500"][data - aos] {
  transition - delay: 0
}[data - aos][data - aos][data - aos - delay = "500"].aos - animate, body[data - aos - delay = "500"][data - aos].aos - animate {
  transition - delay: .5 s
}[data - aos][data - aos][data - aos - duration = "550"], body[data - aos - duration = "550"][data - aos] {
  transition - duration: .55 s
}[data - aos][data - aos][data - aos - delay = "550"], body[data - aos - delay = "550"][data - aos] {
  transition - delay: 0
}[data - aos][data - aos][data - aos - delay = "550"].aos - animate, body[data - aos - delay = "550"][data - aos].aos - animate {
  transition - delay: .55 s
}[data - aos][data - aos][data - aos - duration = "600"], body[data - aos - duration = "600"][data - aos] {
  transition - duration: .6 s
}[data - aos][data - aos][data - aos - delay = "600"], body[data - aos - delay = "600"][data - aos] {
  transition - delay: 0
}[data - aos][data - aos][data - aos - delay = "600"].aos - animate, body[data - aos - delay = "600"][data - aos].aos - animate {
  transition - delay: .6 s
}[data - aos][data - aos][data - aos - duration = "650"], body[data - aos - duration = "650"][data - aos] {
  transition - duration: .65 s
}[data - aos][data - aos][data - aos - delay = "650"], body[data - aos - delay = "650"][data - aos] {
  transition - delay: 0
}[data - aos][data - aos][data - aos - delay = "650"].aos - animate, body[data - aos - delay = "650"][data - aos].aos - animate {
  transition - delay: .65 s
}[data - aos][data - aos][data - aos - duration = "700"], body[data - aos - duration = "700"][data - aos] {
  transition - duration: .7 s
}[data - aos][data - aos][data - aos - delay = "700"], body[data - aos - delay = "700"][data - aos] {
  transition - delay: 0
}[data - aos][data - aos][data - aos - delay = "700"].aos - animate, body[data - aos - delay = "700"][data - aos].aos - animate {
  transition - delay: .7 s
}[data - aos][data - aos][data - aos - duration = "750"], body[data - aos - duration = "750"][data - aos] {
  transition - duration: .75 s
}[data - aos][data - aos][data - aos - delay = "750"], body[data - aos - delay = "750"][data - aos] {
  transition - delay: 0
}[data - aos][data - aos][data - aos - delay = "750"].aos - animate, body[data - aos - delay = "750"][data - aos].aos - animate {
  transition - delay: .75 s
}[data - aos][data - aos][data - aos - duration = "800"], body[data - aos - duration = "800"][data - aos] {
  transition - duration: .8 s
}[data - aos][data - aos][data - aos - delay = "800"], body[data - aos - delay = "800"][data - aos] {
  transition - delay: 0
}[data - aos][data - aos][data - aos - delay = "800"].aos - animate, body[data - aos - delay = "800"][data - aos].aos - animate {
  transition - delay: .8 s
}[data - aos][data - aos][data - aos - duration = "850"], body[data - aos - duration = "850"][data - aos] {
  transition - duration: .85 s
}[data - aos][data - aos][data - aos - delay = "850"], body[data - aos - delay = "850"][data - aos] {
  transition - delay: 0
}[data - aos][data - aos][data - aos - delay = "850"].aos - animate, body[data - aos - delay = "850"][data - aos].aos - animate {
  transition - delay: .85 s
}[data - aos][data - aos][data - aos - duration = "900"], body[data - aos - duration = "900"][data - aos] {
  transition - duration: .9 s
}[data - aos][data - aos][data - aos - delay = "900"], body[data - aos - delay = "900"][data - aos] {
  transition - delay: 0
}[data - aos][data - aos][data - aos - delay = "900"].aos - animate, body[data - aos - delay = "900"][data - aos].aos - animate {
  transition - delay: .9 s
}[data - aos][data - aos][data - aos - duration = "950"], body[data - aos - duration = "950"][data - aos] {
  transition - duration: .95 s
}[data - aos][data - aos][data - aos - delay = "950"], body[data - aos - delay = "950"][data - aos] {
  transition - delay: 0
}[data - aos][data - aos][data - aos - delay = "950"].aos - animate, body[data - aos - delay = "950"][data - aos].aos - animate {
  transition - delay: .95 s
}[data - aos][data - aos][data - aos - duration = "1000"], body[data - aos - duration = "1000"][data - aos] {
  transition - duration: 1 s
}[data - aos][data - aos][data - aos - delay = "1000"], body[data - aos - delay = "1000"][data - aos] {
  transition - delay: 0
}[data - aos][data - aos][data - aos - delay = "1000"].aos - animate, body[data - aos - delay = "1000"][data - aos].aos - animate {
  transition - delay: 1 s
}[data - aos][data - aos][data - aos - duration = "1050"], body[data - aos - duration = "1050"][data - aos] {
  transition - duration: 1.05 s
}[data - aos][data - aos][data - aos - delay = "1050"], body[data - aos - delay = "1050"][data - aos] {
  transition - delay: 0
}[data - aos][data - aos][data - aos - delay = "1050"].aos - animate, body[data - aos - delay = "1050"][data - aos].aos - animate {
  transition - delay: 1.05 s
}[data - aos][data - aos][data - aos - duration = "1100"], body[data - aos - duration = "1100"][data - aos] {
  transition - duration: 1.1 s
}[data - aos][data - aos][data - aos - delay = "1100"], body[data - aos - delay = "1100"][data - aos] {
  transition - delay: 0
}[data - aos][data - aos][data - aos - delay = "1100"].aos - animate, body[data - aos - delay = "1100"][data - aos].aos - animate {
  transition - delay: 1.1 s
}[data - aos][data - aos][data - aos - duration = "1150"], body[data - aos - duration = "1150"][data - aos] {
  transition - duration: 1.15 s
}[data - aos][data - aos][data - aos - delay = "1150"], body[data - aos - delay = "1150"][data - aos] {
  transition - delay: 0
}[data - aos][data - aos][data - aos - delay = "1150"].aos - animate, body[data - aos - delay = "1150"][data - aos].aos - animate {
  transition - delay: 1.15 s
}[data - aos][data - aos][data - aos - duration = "1200"], body[data - aos - duration = "1200"][data - aos] {
  transition - duration: 1.2 s
}[data - aos][data - aos][data - aos - delay = "1200"], body[data - aos - delay = "1200"][data - aos] {
  transition - delay: 0
}[data - aos][data - aos][data - aos - delay = "1200"].aos - animate, body[data - aos - delay = "1200"][data - aos].aos - animate {
  transition - delay: 1.2 s
}[data - aos][data - aos][data - aos - duration = "1250"], body[data - aos - duration = "1250"][data - aos] {
  transition - duration: 1.25 s
}[data - aos][data - aos][data - aos - delay = "1250"], body[data - aos - delay = "1250"][data - aos] {
  transition - delay: 0
}[data - aos][data - aos][data - aos - delay = "1250"].aos - animate, body[data - aos - delay = "1250"][data - aos].aos - animate {
  transition - delay: 1.25 s
}[data - aos][data - aos][data - aos - duration = "1300"], body[data - aos - duration = "1300"][data - aos] {
  transition - duration: 1.3 s
}[data - aos][data - aos][data - aos - delay = "1300"], body[data - aos - delay = "1300"][data - aos] {
  transition - delay: 0
}[data - aos][data - aos][data - aos - delay = "1300"].aos - animate, body[data - aos - delay = "1300"][data - aos].aos - animate {
  transition - delay: 1.3 s
}[data - aos][data - aos][data - aos - duration = "1350"], body[data - aos - duration = "1350"][data - aos] {
  transition - duration: 1.35 s
}[data - aos][data - aos][data - aos - delay = "1350"], body[data - aos - delay = "1350"][data - aos] {
  transition - delay: 0
}[data - aos][data - aos][data - aos - delay = "1350"].aos - animate, body[data - aos - delay = "1350"][data - aos].aos - animate {
  transition - delay: 1.35 s
}[data - aos][data - aos][data - aos - duration = "1400"], body[data - aos - duration = "1400"][data - aos] {
  transition - duration: 1.4 s
}[data - aos][data - aos][data - aos - delay = "1400"], body[data - aos - delay = "1400"][data - aos] {
  transition - delay: 0
}[data - aos][data - aos][data - aos - delay = "1400"].aos - animate, body[data - aos - delay = "1400"][data - aos].aos - animate {
  transition - delay: 1.4 s
}[data - aos][data - aos][data - aos - duration = "1450"], body[data - aos - duration = "1450"][data - aos] {
  transition - duration: 1.45 s
}[data - aos][data - aos][data - aos - delay = "1450"], body[data - aos - delay = "1450"][data - aos] {
  transition - delay: 0
}[data - aos][data - aos][data - aos - delay = "1450"].aos - animate, body[data - aos - delay = "1450"][data - aos].aos - animate {
  transition - delay: 1.45 s
}[data - aos][data - aos][data - aos - duration = "1500"], body[data - aos - duration = "1500"][data - aos] {
  transition - duration: 1.5 s
}[data - aos][data - aos][data - aos - delay = "1500"], body[data - aos - delay = "1500"][data - aos] {
  transition - delay: 0
}[data - aos][data - aos][data - aos - delay = "1500"].aos - animate, body[data - aos - delay = "1500"][data - aos].aos - animate {
  transition - delay: 1.5 s
}[data - aos][data - aos][data - aos - duration = "1550"], body[data - aos - duration = "1550"][data - aos] {
  transition - duration: 1.55 s
}[data - aos][data - aos][data - aos - delay = "1550"], body[data - aos - delay = "1550"][data - aos] {
  transition - delay: 0
}[data - aos][data - aos][data - aos - delay = "1550"].aos - animate, body[data - aos - delay = "1550"][data - aos].aos - animate {
  transition - delay: 1.55 s
}[data - aos][data - aos][data - aos - duration = "1600"], body[data - aos - duration = "1600"][data - aos] {
  transition - duration: 1.6 s
}[data - aos][data - aos][data - aos - delay = "1600"], body[data - aos - delay = "1600"][data - aos] {
  transition - delay: 0
}[data - aos][data - aos][data - aos - delay = "1600"].aos - animate, body[data - aos - delay = "1600"][data - aos].aos - animate {
  transition - delay: 1.6 s
}[data - aos][data - aos][data - aos - duration = "1650"], body[data - aos - duration = "1650"][data - aos] {
  transition - duration: 1.65 s
}[data - aos][data - aos][data - aos - delay = "1650"], body[data - aos - delay = "1650"][data - aos] {
  transition - delay: 0
}[data - aos][data - aos][data - aos - delay = "1650"].aos - animate, body[data - aos - delay = "1650"][data - aos].aos - animate {
  transition - delay: 1.65 s
}[data - aos][data - aos][data - aos - duration = "1700"], body[data - aos - duration = "1700"][data - aos] {
  transition - duration: 1.7 s
}[data - aos][data - aos][data - aos - delay = "1700"], body[data - aos - delay = "1700"][data - aos] {
  transition - delay: 0
}[data - aos][data - aos][data - aos - delay = "1700"].aos - animate, body[data - aos - delay = "1700"][data - aos].aos - animate {
  transition - delay: 1.7 s
}[data - aos][data - aos][data - aos - duration = "1750"], body[data - aos - duration = "1750"][data - aos] {
  transition - duration: 1.75 s
}[data - aos][data - aos][data - aos - delay = "1750"], body[data - aos - delay = "1750"][data - aos] {
  transition - delay: 0
}[data - aos][data - aos][data - aos - delay = "1750"].aos - animate, body[data - aos - delay = "1750"][data - aos].aos - animate {
  transition - delay: 1.75 s
}[data - aos][data - aos][data - aos - duration = "1800"], body[data - aos - duration = "1800"][data - aos] {
  transition - duration: 1.8 s
}[data - aos][data - aos][data - aos - delay = "1800"], body[data - aos - delay = "1800"][data - aos] {
  transition - delay: 0
}[data - aos][data - aos][data - aos - delay = "1800"].aos - animate, body[data - aos - delay = "1800"][data - aos].aos - animate {
  transition - delay: 1.8 s
}[data - aos][data - aos][data - aos - duration = "1850"], body[data - aos - duration = "1850"][data - aos] {
  transition - duration: 1.85 s
}[data - aos][data - aos][data - aos - delay = "1850"], body[data - aos - delay = "1850"][data - aos] {
  transition - delay: 0
}[data - aos][data - aos][data - aos - delay = "1850"].aos - animate, body[data - aos - delay = "1850"][data - aos].aos - animate {
  transition - delay: 1.85 s
}[data - aos][data - aos][data - aos - duration = "1900"], body[data - aos - duration = "1900"][data - aos] {
  transition - duration: 1.9 s
}[data - aos][data - aos][data - aos - delay = "1900"], body[data - aos - delay = "1900"][data - aos] {
  transition - delay: 0
}[data - aos][data - aos][data - aos - delay = "1900"].aos - animate, body[data - aos - delay = "1900"][data - aos].aos - animate {
  transition - delay: 1.9 s
}[data - aos][data - aos][data - aos - duration = "1950"], body[data - aos - duration = "1950"][data - aos] {
  transition - duration: 1.95 s
}[data - aos][data - aos][data - aos - delay = "1950"], body[data - aos - delay = "1950"][data - aos] {
  transition - delay: 0
}[data - aos][data - aos][data - aos - delay = "1950"].aos - animate, body[data - aos - delay = "1950"][data - aos].aos - animate {
  transition - delay: 1.95 s
}[data - aos][data - aos][data - aos - duration = "2000"], body[data - aos - duration = "2000"][data - aos] {
  transition - duration: 2 s
}[data - aos][data - aos][data - aos - delay = "2000"], body[data - aos - delay = "2000"][data - aos] {
  transition - delay: 0
}[data - aos][data - aos][data - aos - delay = "2000"].aos - animate, body[data - aos - delay = "2000"][data - aos].aos - animate {
  transition - delay: 2 s
}[data - aos][data - aos][data - aos - duration = "2050"], body[data - aos - duration = "2050"][data - aos] {
  transition - duration: 2.05 s
}[data - aos][data - aos][data - aos - delay = "2050"], body[data - aos - delay = "2050"][data - aos] {
  transition - delay: 0
}[data - aos][data - aos][data - aos - delay = "2050"].aos - animate, body[data - aos - delay = "2050"][data - aos].aos - animate {
  transition - delay: 2.05 s
}[data - aos][data - aos][data - aos - duration = "2100"], body[data - aos - duration = "2100"][data - aos] {
  transition - duration: 2.1 s
}[data - aos][data - aos][data - aos - delay = "2100"], body[data - aos - delay = "2100"][data - aos] {
  transition - delay: 0
}[data - aos][data - aos][data - aos - delay = "2100"].aos - animate, body[data - aos - delay = "2100"][data - aos].aos - animate {
  transition - delay: 2.1 s
}[data - aos][data - aos][data - aos - duration = "2150"], body[data - aos - duration = "2150"][data - aos] {
  transition - duration: 2.15 s
}[data - aos][data - aos][data - aos - delay = "2150"], body[data - aos - delay = "2150"][data - aos] {
  transition - delay: 0
}[data - aos][data - aos][data - aos - delay = "2150"].aos - animate, body[data - aos - delay = "2150"][data - aos].aos - animate {
  transition - delay: 2.15 s
}[data - aos][data - aos][data - aos - duration = "2200"], body[data - aos - duration = "2200"][data - aos] {
  transition - duration: 2.2 s
}[data - aos][data - aos][data - aos - delay = "2200"], body[data - aos - delay = "2200"][data - aos] {
  transition - delay: 0
}[data - aos][data - aos][data - aos - delay = "2200"].aos - animate, body[data - aos - delay = "2200"][data - aos].aos - animate {
  transition - delay: 2.2 s
}[data - aos][data - aos][data - aos - duration = "2250"], body[data - aos - duration = "2250"][data - aos] {
  transition - duration: 2.25 s
}[data - aos][data - aos][data - aos - delay = "2250"], body[data - aos - delay = "2250"][data - aos] {
  transition - delay: 0
}[data - aos][data - aos][data - aos - delay = "2250"].aos - animate, body[data - aos - delay = "2250"][data - aos].aos - animate {
  transition - delay: 2.25 s
}[data - aos][data - aos][data - aos - duration = "2300"], body[data - aos - duration = "2300"][data - aos] {
  transition - duration: 2.3 s
}[data - aos][data - aos][data - aos - delay = "2300"], body[data - aos - delay = "2300"][data - aos] {
  transition - delay: 0
}[data - aos][data - aos][data - aos - delay = "2300"].aos - animate, body[data - aos - delay = "2300"][data - aos].aos - animate {
  transition - delay: 2.3 s
}[data - aos][data - aos][data - aos - duration = "2350"], body[data - aos - duration = "2350"][data - aos] {
  transition - duration: 2.35 s
}[data - aos][data - aos][data - aos - delay = "2350"], body[data - aos - delay = "2350"][data - aos] {
  transition - delay: 0
}[data - aos][data - aos][data - aos - delay = "2350"].aos - animate, body[data - aos - delay = "2350"][data - aos].aos - animate {
  transition - delay: 2.35 s
}[data - aos][data - aos][data - aos - duration = "2400"], body[data - aos - duration = "2400"][data - aos] {
  transition - duration: 2.4 s
}[data - aos][data - aos][data - aos - delay = "2400"], body[data - aos - delay = "2400"][data - aos] {
  transition - delay: 0
}[data - aos][data - aos][data - aos - delay = "2400"].aos - animate, body[data - aos - delay = "2400"][data - aos].aos - animate {
  transition - delay: 2.4 s
}[data - aos][data - aos][data - aos - duration = "2450"], body[data - aos - duration = "2450"][data - aos] {
  transition - duration: 2.45 s
}[data - aos][data - aos][data - aos - delay = "2450"], body[data - aos - delay = "2450"][data - aos] {
  transition - delay: 0
}[data - aos][data - aos][data - aos - delay = "2450"].aos - animate, body[data - aos - delay = "2450"][data - aos].aos - animate {
  transition - delay: 2.45 s
}[data - aos][data - aos][data - aos - duration = "2500"], body[data - aos - duration = "2500"][data - aos] {
  transition - duration: 2.5 s
}[data - aos][data - aos][data - aos - delay = "2500"], body[data - aos - delay = "2500"][data - aos] {
  transition - delay: 0
}[data - aos][data - aos][data - aos - delay = "2500"].aos - animate, body[data - aos - delay = "2500"][data - aos].aos - animate {
  transition - delay: 2.5 s
}[data - aos][data - aos][data - aos - duration = "2550"], body[data - aos - duration = "2550"][data - aos] {
  transition - duration: 2.55 s
}[data - aos][data - aos][data - aos - delay = "2550"], body[data - aos - delay = "2550"][data - aos] {
  transition - delay: 0
}[data - aos][data - aos][data - aos - delay = "2550"].aos - animate, body[data - aos - delay = "2550"][data - aos].aos - animate {
  transition - delay: 2.55 s
}[data - aos][data - aos][data - aos - duration = "2600"], body[data - aos - duration = "2600"][data - aos] {
  transition - duration: 2.6 s
}[data - aos][data - aos][data - aos - delay = "2600"], body[data - aos - delay = "2600"][data - aos] {
  transition - delay: 0
}[data - aos][data - aos][data - aos - delay = "2600"].aos - animate, body[data - aos - delay = "2600"][data - aos].aos - animate {
  transition - delay: 2.6 s
}[data - aos][data - aos][data - aos - duration = "2650"], body[data - aos - duration = "2650"][data - aos] {
  transition - duration: 2.65 s
}[data - aos][data - aos][data - aos - delay = "2650"], body[data - aos - delay = "2650"][data - aos] {
  transition - delay: 0
}[data - aos][data - aos][data - aos - delay = "2650"].aos - animate, body[data - aos - delay = "2650"][data - aos].aos - animate {
  transition - delay: 2.65 s
}[data - aos][data - aos][data - aos - duration = "2700"], body[data - aos - duration = "2700"][data - aos] {
  transition - duration: 2.7 s
}[data - aos][data - aos][data - aos - delay = "2700"], body[data - aos - delay = "2700"][data - aos] {
  transition - delay: 0
}[data - aos][data - aos][data - aos - delay = "2700"].aos - animate, body[data - aos - delay = "2700"][data - aos].aos - animate {
  transition - delay: 2.7 s
}[data - aos][data - aos][data - aos - duration = "2750"], body[data - aos - duration = "2750"][data - aos] {
  transition - duration: 2.75 s
}[data - aos][data - aos][data - aos - delay = "2750"], body[data - aos - delay = "2750"][data - aos] {
  transition - delay: 0
}[data - aos][data - aos][data - aos - delay = "2750"].aos - animate, body[data - aos - delay = "2750"][data - aos].aos - animate {
  transition - delay: 2.75 s
}[data - aos][data - aos][data - aos - duration = "2800"], body[data - aos - duration = "2800"][data - aos] {
  transition - duration: 2.8 s
}[data - aos][data - aos][data - aos - delay = "2800"], body[data - aos - delay = "2800"][data - aos] {
  transition - delay: 0
}[data - aos][data - aos][data - aos - delay = "2800"].aos - animate, body[data - aos - delay = "2800"][data - aos].aos - animate {
  transition - delay: 2.8 s
}[data - aos][data - aos][data - aos - duration = "2850"], body[data - aos - duration = "2850"][data - aos] {
  transition - duration: 2.85 s
}[data - aos][data - aos][data - aos - delay = "2850"], body[data - aos - delay = "2850"][data - aos] {
  transition - delay: 0
}[data - aos][data - aos][data - aos - delay = "2850"].aos - animate, body[data - aos - delay = "2850"][data - aos].aos - animate {
  transition - delay: 2.85 s
}[data - aos][data - aos][data - aos - duration = "2900"], body[data - aos - duration = "2900"][data - aos] {
  transition - duration: 2.9 s
}[data - aos][data - aos][data - aos - delay = "2900"], body[data - aos - delay = "2900"][data - aos] {
  transition - delay: 0
}[data - aos][data - aos][data - aos - delay = "2900"].aos - animate, body[data - aos - delay = "2900"][data - aos].aos - animate {
  transition - delay: 2.9 s
}[data - aos][data - aos][data - aos - duration = "2950"], body[data - aos - duration = "2950"][data - aos] {
  transition - duration: 2.95 s
}[data - aos][data - aos][data - aos - delay = "2950"], body[data - aos - delay = "2950"][data - aos] {
  transition - delay: 0
}[data - aos][data - aos][data - aos - delay = "2950"].aos - animate, body[data - aos - delay = "2950"][data - aos].aos - animate {
  transition - delay: 2.95 s
}[data - aos][data - aos][data - aos - duration = "3000"], body[data - aos - duration = "3000"][data - aos] {
  transition - duration: 3 s
}[data - aos][data - aos][data - aos - delay = "3000"], body[data - aos - delay = "3000"][data - aos] {
  transition - delay: 0
}[data - aos][data - aos][data - aos - delay = "3000"].aos - animate, body[data - aos - delay = "3000"][data - aos].aos - animate {
  transition - delay: 3 s
}[data - aos][data - aos][data - aos - easing = linear], body[data - aos - easing = linear][data - aos] {
  transition - timing - function: cubic - bezier(.25, .25, .75, .75)
}[data - aos][data - aos][data - aos - easing = ease], body[data - aos - easing = ease][data - aos] {
  transition - timing - function: ease
}[data - aos][data - aos][data - aos - easing = ease - in ], body[data - aos - easing = ease - in ][data - aos] {
  transition - timing - function: ease - in
}[data - aos][data - aos][data - aos - easing = ease - out], body[data - aos - easing = ease - out][data - aos] {
  transition - timing - function: ease - out
}[data - aos][data - aos][data - aos - easing = ease - in -out], body[data - aos - easing = ease - in -out][data - aos] {
  transition - timing - function: ease - in -out
}[data - aos][data - aos][data - aos - easing = ease - in -back], body[data - aos - easing = ease - in -back][data - aos] {
  transition - timing - function: cubic - bezier(.6, -.28, .735, .045)
}[data - aos][data - aos][data - aos - easing = ease - out - back], body[data - aos - easing = ease - out - back][data - aos] {
  transition - timing - function: cubic - bezier(.175, .885, .32, 1.275)
}[data - aos][data - aos][data - aos - easing = ease - in -out - back], body[data - aos - easing = ease - in -out - back][data - aos] {
  transition - timing - function: cubic - bezier(.68, -.55, .265, 1.55)
}[data - aos][data - aos][data - aos - easing = ease - in -sine], body[data - aos - easing = ease - in -sine][data - aos] {
  transition - timing - function: cubic - bezier(.47, 0, .745, .715)
}[data - aos][data - aos][data - aos - easing = ease - out - sine], body[data - aos - easing = ease - out - sine][data - aos] {
  transition - timing - function: cubic - bezier(.39, .575, .565, 1)
}[data - aos][data - aos][data - aos - easing = ease - in -out - sine], body[data - aos - easing = ease - in -out - sine][data - aos] {
  transition - timing - function: cubic - bezier(.445, .05, .55, .95)
}[data - aos][data - aos][data - aos - easing = ease - in -quad], body[data - aos - easing = ease - in -quad][data - aos] {
  transition - timing - function: cubic - bezier(.55, .085, .68, .53)
}[data - aos][data - aos][data - aos - easing = ease - out - quad], body[data - aos - easing = ease - out - quad][data - aos] {
  transition - timing - function: cubic - bezier(.25, .46, .45, .94)
}[data - aos][data - aos][data - aos - easing = ease - in -out - quad], body[data - aos - easing = ease - in -out - quad][data - aos] {
  transition - timing - function: cubic - bezier(.455, .03, .515, .955)
}[data - aos][data - aos][data - aos - easing = ease - in -cubic], body[data - aos - easing = ease - in -cubic][data - aos] {
  transition - timing - function: cubic - bezier(.55, .085, .68, .53)
}[data - aos][data - aos][data - aos - easing = ease - out - cubic], body[data - aos - easing = ease - out - cubic][data - aos] {
  transition - timing - function: cubic - bezier(.25, .46, .45, .94)
}[data - aos][data - aos][data - aos - easing = ease - in -out - cubic], body[data - aos - easing = ease - in -out - cubic][data - aos] {
  transition - timing - function: cubic - bezier(.455, .03, .515, .955)
}[data - aos][data - aos][data - aos - easing = ease - in -quart], body[data - aos - easing = ease - in -quart][data - aos] {
  transition - timing - function: cubic - bezier(.55, .085, .68, .53)
}[data - aos][data - aos][data - aos - easing = ease - out - quart], body[data - aos - easing = ease - out - quart][data - aos] {
  transition - timing - function: cubic - bezier(.25, .46, .45, .94)
}[data - aos][data - aos][data - aos - easing = ease - in -out - quart], body[data - aos - easing = ease - in -out - quart][data - aos] {
  transition - timing - function: cubic - bezier(.455, .03, .515, .955)
}[data - aos ^= fade][data - aos ^= fade] {
  opacity: 0;transition - property: opacity,
  transform
}[data - aos ^= fade][data - aos ^= fade].aos - animate {
  opacity: 1;transform: translateZ(0)
}[data - aos = fade - up] {
  transform: translate3d(0, 100 px, 0)
}[data - aos = fade - down] {
  transform: translate3d(0, -100 px, 0)
}[data - aos = fade - right] {
  transform: translate3d(-100 px, 0, 0)
}[data - aos = fade - left] {
  transform: translate3d(100 px, 0, 0)
}[data - aos = fade - up - right] {
  transform: translate3d(-100 px, 100 px, 0)
}[data - aos = fade - up - left] {
  transform: translate3d(100 px, 100 px, 0)
}[data - aos = fade - down - right] {
  transform: translate3d(-100 px, -100 px, 0)
}[data - aos = fade - down - left] {
  transform: translate3d(100 px, -100 px, 0)
}[data - aos ^= zoom][data - aos ^= zoom] {
  opacity: 0;transition - property: opacity,
  transform
}[data - aos ^= zoom][data - aos ^= zoom].aos - animate {
  opacity: 1;transform: translateZ(0) scale(1)
}[data - aos = zoom - in ] {
  transform: scale(.6)
}[data - aos = zoom - in -up] {
  transform: translate3d(0, 100 px, 0) scale(.6)
}[data - aos = zoom - in -down] {
  transform: translate3d(0, -100 px, 0) scale(.6)
}[data - aos = zoom - in -right] {
  transform: translate3d(-100 px, 0, 0) scale(.6)
}[data - aos = zoom - in -left] {
  transform: translate3d(100 px, 0, 0) scale(.6)
}[data - aos = zoom - out] {
  transform: scale(1.2)
}[data - aos = zoom - out - up] {
  transform: translate3d(0, 100 px, 0) scale(1.2)
}[data - aos = zoom - out - down] {
  transform: translate3d(0, -100 px, 0) scale(1.2)
}[data - aos = zoom - out - right] {
  transform: translate3d(-100 px, 0, 0) scale(1.2)
}[data - aos = zoom - out - left] {
  transform: translate3d(100 px, 0, 0) scale(1.2)
}[data - aos ^= slide][data - aos ^= slide] {
  transition - property: transform
}[data - aos ^= slide][data - aos ^= slide].aos - animate {
  transform: translateZ(0)
}[data - aos = slide - up] {
  transform: translate3d(0, 100 % , 0)
}[data - aos = slide - down] {
  transform: translate3d(0, -100 % , 0)
}[data - aos = slide - right] {
  transform: translate3d(-100 % , 0, 0)
}[data - aos = slide - left] {
  transform: translate3d(100 % , 0, 0)
}[data - aos ^= flip][data - aos ^= flip] {
  backface - visibility: hidden;
  transition - property: transform
}[data - aos = flip - left] {
  transform: perspective(2500 px) rotateY(-100 deg)
}[data - aos = flip - left].aos - animate {
  transform: perspective(2500 px) rotateY(0)
}[data - aos = flip - right] {
  transform: perspective(2500 px) rotateY(100 deg)
}[data - aos = flip - right].aos - animate {
  transform: perspective(2500 px) rotateY(0)
}[data - aos = flip - up] {
  transform: perspective(2500 px) rotateX(-100 deg)
}[data - aos = flip - up].aos - animate {
  transform: perspective(2500 px) rotateX(0)
}[data - aos = flip - down] {
  transform: perspective(2500 px) rotateX(100 deg)
}[data - aos = flip - down].aos - animate {
  transform: perspective(2500 px) rotateX(0)
}
* {
  margin: 0;
  padding: 0;
}
body {
  font - family: 'Roboto', sans - serif;
}
* {
  box - sizing: border - box;
}
.bg - img {
    /* Используемое изображение */
    background - image: url("../IMG/Group1.svg");
    min - height: 710 px;
    /* Центр и масштаб изображения */
    background - position: center;
    background - repeat: no - repeat;
    background - size: cover;
    /* Необходимые для позиционирования навигации */
    position: relative;
  }
  /* Положение контейнера навигации внутри изображения */
.container {
  position: right;
  margin - top: 15 px;
  margin - right: 3 % ;
  float: right;
  width: auto;
}
.container1 {
  position: absolute;
  margin - top: 5 px;
  margin - left: 50 px;
  width: auto;
  height: auto;
}
.container2 {
  position: absolute;
  top: 880 px;
  left: 42 % ;
  width: 500 px;
  height: 200 px;
}
.container3 {
  position: absolute;
  top: 1030 px;
  left: 42 % ;
  width: 700 px;
  height: 200 px;
}
.containertopor {
  position: absolute;
  top: 900 px;
  left: 5 % ;
  width: 200 px;
  height: 200 px;
}
.containertable {
  position: absolute;
  top: 1400 px;
  left: 20 % ;
  width: 60 % ;
}
/* Навигационная панель */
.topnav {
  overflow: hidden;
  padding - left: 340 px
}
.topnav1 {
  overflow: hidden;
  float: left;
  color: #f2f2f2;
  text - align: left;
  padding: 18 px 3 px;
  text - decoration: none;
  font - size: 17 px;
}
.topnav2 {
  overflow: hidden;
  float: left;
  color: #f2f2f2;
  text - align: left;
  padding: 18 px 3 px;
  text - decoration: none;
  font - size: 17 px;
}
.otstup {
  overflow: hidden;
  float: left;
  margin - top: 20 px;
}
/* Ссылки на навигационную панель */
.topnav a {
  float: left;
  color: #f2f2f2;
  text - align: center;
  padding: 18 px 16 px;
  text - decoration: none;
  font - size: 17 px;
}
.topnav a: hover {
  font - size: 17.5 px;
  color: #ffffff;
}
.h1 {
  font - style: normal;
  font - weight: bold;
  font - size: 30 px;
  font - family: 'Roboto', sans - serif;
  color: #ffffff
}
.h2 {
  font - style: normal;
  font - weight: 500;
  font - family: 'Roboto', sans - serif;
  color: #ffffff
}
.h3 {
  font - style: normal;
  font - weight: bolder;
  font - size: 100 px;
  line - height: 134 px;
  font - family: 'Montserrat', sans - serif;
  color: #d6d6d6;
}
.ellipse {
  position: absolute;
  top: 40 % ;
  left: 105 % ;
  width: 90 % ;
  height: 90 % ;
  background: #6350DB;
    filter: blur(100px);
  }
  
  .ellipse2 {
    position: absolute;
    top: 1000px;
    left: 40%;
    width: 35%;
    height: 15%;
    background: # 6350 DB;
  filter: blur(100 px);
}
.nwlogo {
  position: absolute;
  top: 900 px;
  left: 100 px;
  width: 200 px;
  height: 200 px;
}
.rectangle {
  position: absolute;
  width: 5 px;
  height: 370 px;
  top: 860 px;
  left: 40 % ;
  background: #706D6D;
  }

  
  .cellcolor1 {
    background-color: # 404040
}
.cellcolor2 {
  background - color: #515151
  }
  
  .cellcolor3 {
    background-color: rgb(89, 0, 255);
  }
  
  .minilogotable {
    text-align: right;
    padding: 4px 1% 0px 0px;
    width: 70px;
  }
  
  .zagolovoktable {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    padding: 10px 0px 10px 1%;
    color: # ffffff;
}
.Rank_table {
  font - style: normal;
  font - weight: 600;
  font - size: 15 px;
  text - align: right;
  font - family: 'Roboto', sans - serif;
  color: #D3D4D2;
  padding: 6 px 1 % 6 px 0 px;
}
.Player_table {
  font - style: normal;
  font - weight: 600;
  font - size: 15 px;
  text - align: left;
  font - family: 'Roboto', sans - serif;
  color: #D3D4D2;
  padding: 6 px 0 px 6 px 1 % ;
  width: 80 % ;
}
.Sales_table {
  font - style: normal;
  font - weight: 600;
  font - size: 15 px;
  text - align: center;
  font - family: 'Roboto', sans - serif;
  color: #D3D4D2;
}
.nick_table {
  font - style: bold;
  font - weight: 600;
  font - size: 16 px;
  text - align: left;
  font - family: 'Roboto', sans - serif;
  color: #ffffff;
  padding: 6 px 0 px 6 px 1 % ;
}
.golda_table {
  font - style: bold;
  font - weight: 600;
  font - size: 16 px;
  text - align: center;
  font - family: 'Roboto', sans - serif;
  color: #ffffff;
}
.number_table {
  font - style: normal;
  font - weight: 600;
  font - size: 13 px;
  text - align: right;
  font - family: 'Roboto', sans - serif;
  padding: 3 px 2.3 % 3 px 0 px;
  color: #ffffff;
}
table {
  border - collapse: collapse;
  border: 0 px solid rgb(255, 255, 255);
  letter - spacing: 1 px;
  font - size: 0.8 rem;
}
td,
th {
  border: 0 px solid rgb(190, 190, 190);
}
.footer {
  min - height: 100 px;
  background - color: #2D2B2B;
        margin-top: 1000px;
    }

    .logo{
        height: 100px; 
        width: 100px;
    }

    @media (min-width: 720px) and (max-width: 900px) {
      .h3 {
      font-size: 60px;
          }
          .container3{
              top: 970px;
          }
      .logo{
          height: 40px; 
          width: 40px;
          }
      .otstup {
            margin-top: 50px;  
          }
          .rectangle{
              height: 270px;
              top: 880px;
          }
          .containertopor{
          top: 920px;
          left: 0%;
          width: 130px;
           height: 130px;
    }
      }
      @media (min-width: 900px) and (max-width: 1040px) {
      .h3 {
      font-size: 65px;
          }
          .container3{
              top: 977px;
          }
      .logo{
          height: 50px; 
          width: 50px;
          }
      .otstup {
            margin-top: 46px;  
          }
          .rectangle{
              height: 282px;
              top: 872px;
          }
          .containertopor{
          top: 918px;
          left: 3%;
          width: 137px;
           height: 137px;
    }
      }
      @media (min-width: 1040px) and (max-width: 1200px) {
      .h3 {
      font-size: 70px;
          }
      .container3{
              top: 985px;;
          }
      .logo{
          height: 60px; 
          width: 60px;
          }
      .otstup {
            margin-top: 42px;  
          }
          .rectangle{
              height: 295px;
              top: 875px;
          }
          .containertopor{
          top: 917px;
          left: 6%;
          width: 145px;
           height: 145px;
    }
      }
      @media (min-width: 1200px) and (max-width: 1400px) {
      .h3 {
      font-size: 80px;
          }
      .container3{
              top: 1000px;;
          }
      .logo{
          height: 70px; 
          width: 70px;
          }
      .otstup {
            margin-top: 35px;  
          }
          .rectangle{
              height: 320px;
              top: 870px;
          }
          .containertopor{
          top: 915px;
          left: 7%;
          width: 160px;
           height: 160px;
    }
      }
      @media (min-width: 1200px) and (max-width: 1600px) {
      .h3 {
      font-size: 85px;
          }
      .container3{
              top: 1015px;;
          }
      .logo{
          height: 85px; 
          width: 85px;
          }
      .otstup {
            margin-top: 27px;  
          }
          .rectangle{
              height: 345px;
              top: 865px;
          }
          .containertopor{
          top: 907px;
          left: 7.5%;
          width: 170px;
           height: 170px;
    }
      }
      
      @media (min-width: 1600px) and (max-width: 1900px) {
      .h3 {
        font-size: 100px;
          }
          .container3{
              top: 1030px;
          }
          .logo{
          height: 100px; 
          width: 100px;
          }
          .otstup {
            margin-top: 20px;  
          }
          .rectangle{
              height: 370px;
              top: 860px;
          }
          .containertopor{
          top: 900px;
          left: 8%;
          width: 200px;
           height: 200px;
    }
      }
