
* {
    margin: 0;
    padding: 0;
    
  }
  
  body {
    font-family: 'Roboto', sans-serif;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .bg-img {
    /* Используемое изображение */
    background-image:  url("../IMG/Group1.svg");
    min-height: 710px;
    /* Центр и масштаб изображения */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Необходимые для позиционирования навигации */
    position: relative;
  }
  /* Положение контейнера навигации внутри изображения */
  
  .container {
    position: right;
    margin-top: 15px;
    margin-right: 3%;
    float: right;
    width: auto;
  }
  
  .container1 {
    position: absolute;
    margin-top: 5px;
    margin-left: 50px;
    width: auto;
    height: auto;
  }
  
  .container2 {
    position: absolute;
    top: 880px;
    left: 42%;
    width: 500px;
    height: 200px;
  }
  
  .container3 {
    position: absolute;
    top: 1030px;
    left: 42%;
    width: 700px;
    height: 200px;
  }

  .containertopor{
    position: absolute;
    top: 900px;
    left: 5%;
    width: 200px;
    height: 200px;
  }
  
  .containertable {
    position: absolute;
    top: 1400px;
    left: 20%;
    width: 60%; 
  
  }


  
  /* Навигационная панель */
  
  .topnav {
    overflow: hidden;
    padding-left: 340px
  }
  
  .topnav1 {
    overflow: hidden;
    float: left;
    color: #f2f2f2;
    text-align: left;
    padding: 18px 3px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav2 {
    overflow: hidden;
    float: left;
    color: #f2f2f2;
    text-align: left;
    padding: 18px 3px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .otstup {
    overflow: hidden;
    float: left;
    margin-top: 20px;
  }
  /* Ссылки на навигационную панель */
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    font-size: 17.5px;
    color: #ffffff;
  }
  
  .h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff
  }
  
  .h2 {
    font-style: normal;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    color: #ffffff
  }
  
  .h3 {
    font-style: normal;
    font-weight: bolder;
    font-size: 100px;
    line-height: 134px;
    font-family: 'Montserrat', sans-serif;
    color: #d6d6d6;
  }
  
  .ellipse {
    position: absolute;
    top: 40%;
    left: 105%;
    width: 90%;
    height: 90%;
    background: #6350DB;
    filter: blur(100px);
  }
  
  .ellipse2 {
    position: absolute;
    top: 1000px;
    left: 40%;
    width: 35%;
    height: 15%;
    background: #6350DB;
    filter: blur(100px);
  }
  
  .nwlogo {
    position: absolute;
    top: 900px;
    left: 100px;
    width: 200px;
    height: 200px;
  }
  
  .rectangle {
    position: absolute;
    width: 5px;
    height: 370px;
    top: 860px;
    left: 40%;
    background: #706D6D;
  }

  
  .cellcolor1 {
    background-color: #404040
  }
  
  .cellcolor2 {
    background-color: #515151
  }
  
  .cellcolor3 {
    background-color: rgb(89, 0, 255);
  }
  
  .minilogotable {
    text-align: right;
    padding: 4px 1% 0px 0px;
    width: 70px;
  }
  
  .zagolovoktable {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    padding: 10px 0px 10px 1%;
    color: #ffffff;
  }
  
  .Rank_table {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    color: #D3D4D2;
    padding: 6px 1% 6px 0px;
  }
  
  .Player_table {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    color: #D3D4D2;
    padding: 6px 0px 6px 1%;
    width: 80%;
  }
  
  .Sales_table {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #D3D4D2;
  }
  
  .nick_table {
    font-style: bold;
    font-weight: 600;
    font-size: 16px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    padding: 6px 0px 6px 1%;
  }
  
  .golda_table {
    font-style: bold;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
  }
  .number_table { 
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    padding: 3px 2.3% 3px 0px;
    color: #ffffff;
  }
  
  table {
    border-collapse: collapse;
    border: 0px solid rgb(255, 255, 255);
    letter-spacing: 1px;
    font-size: 0.8rem;
  }
  
  td,
  th {
    border: 0px solid rgb(190, 190, 190);
  }
    .footer{
        min-height: 100px;
        background-color: #2D2B2B;
        margin-top: 1000px;
    }

    .logo{
        height: 100px; 
        width: 100px;
    }

    @media (min-width: 720px) and (max-width: 900px) {
      .h3 {
      font-size: 60px;
          }
          .container3{
              top: 970px;
          }
      .logo{
          height: 40px; 
          width: 40px;
          }
      .otstup {
            margin-top: 50px;  
          }
          .rectangle{
              height: 270px;
              top: 880px;
          }
          .containertopor{
          top: 920px;
          left: 0%;
          width: 130px;
           height: 130px;
    }
      }
      @media (min-width: 900px) and (max-width: 1040px) {
      .h3 {
      font-size: 65px;
          }
          .container3{
              top: 977px;
          }
      .logo{
          height: 50px; 
          width: 50px;
          }
      .otstup {
            margin-top: 46px;  
          }
          .rectangle{
              height: 282px;
              top: 872px;
          }
          .containertopor{
          top: 918px;
          left: 3%;
          width: 137px;
           height: 137px;
    }
      }
      @media (min-width: 1040px) and (max-width: 1200px) {
      .h3 {
      font-size: 70px;
          }
      .container3{
              top: 985px;;
          }
      .logo{
          height: 60px; 
          width: 60px;
          }
      .otstup {
            margin-top: 42px;  
          }
          .rectangle{
              height: 295px;
              top: 875px;
          }
          .containertopor{
          top: 917px;
          left: 6%;
          width: 145px;
           height: 145px;
    }
      }
      @media (min-width: 1200px) and (max-width: 1400px) {
      .h3 {
      font-size: 80px;
          }
      .container3{
              top: 1000px;;
          }
      .logo{
          height: 70px; 
          width: 70px;
          }
      .otstup {
            margin-top: 35px;  
          }
          .rectangle{
              height: 320px;
              top: 870px;
          }
          .containertopor{
          top: 915px;
          left: 7%;
          width: 160px;
           height: 160px;
    }
      }
      @media (min-width: 1200px) and (max-width: 1600px) {
      .h3 {
      font-size: 85px;
          }
      .container3{
              top: 1015px;;
          }
      .logo{
          height: 85px; 
          width: 85px;
          }
      .otstup {
            margin-top: 27px;  
          }
          .rectangle{
              height: 345px;
              top: 865px;
          }
          .containertopor{
          top: 907px;
          left: 7.5%;
          width: 170px;
           height: 170px;
    }
      }
      
      @media (min-width: 1600px) and (max-width: 1900px) {
      .h3 {
        font-size: 100px;
          }
          .container3{
              top: 1030px;
          }
          .logo{
          height: 100px; 
          width: 100px;
          }
          .otstup {
            margin-top: 20px;  
          }
          .rectangle{
              height: 370px;
              top: 860px;
          }
          .containertopor{
          top: 900px;
          left: 8%;
          width: 200px;
           height: 200px;
    }
      }
